:root{
	--rojo: #E50914;
	--fondo: #141414;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}
.contenedor {
	width: 90%;
	margin: auto;
}
header {
	padding: 30px 0;
}
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}
header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}
header nav a:hover, 
header nav a.activo {
	color: #FFF;	
}

/* Pagina de Creación de Reseñas*/

.contenedor .label-formulario {
	color: #fff;
}
.contenedor .valoracion {
	font-size: 20px;
	padding-bottom: 2.5em;
}
.contenedor .label-formulario-valoracion {
	color: #fff;
	margin-left: 10px;
}
.contenedor .input-reseña {
	font-size: 16px;
	width: 50%;
	margin-top: 0.62em;
	padding: 1.25em;
    border-radius: 0.31em;
    border: 0.06em solid whitesmoke;
    outline: none;
    margin-bottom: 1.25em;
    resize: none; 	
}
.contenedor .input-reseña-fichero {
	font-size: 16px;
	width: 50%;
	margin-top: 0.62em;
	padding: 1.25em;
    border-radius: 0.31em;
    border: 0.06em solid whitesmoke;
    outline: none;
    margin-bottom: 1.25em;
    resize: none;
    background: white;
}
.contenedor .boton {
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}
.contenedor .boton:hover{
	background: #fff;
	color: #000;
}


/* Media Queries */

@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}
	header .contenedor {
		flex-direction: column;
		text-align: center;
	}
	.formulario-reseña .contenedor {
		margin: 20px;
		padding: 20px;
	}
	.contenedor .input-reseña {
	width: 100%;
	}
	.contenedor .input-reseña-fichero {
		width: 100%;
	}
}